@import "tailwindcss";

* {
  @apply transition-colors;
}

body {
  @apply bg-slate-900 text-white;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  @apply w-2 h-2;
}

::-webkit-scrollbar-track {
  @apply bg-slate-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-600 rounded hover:bg-slate-500;
}